/* .internships li>.intern-intro {
    width: 50px;
    margin: 0;
    padding: 0;
} */

/* .world-map {
    width: 80%;
    display: block;
    margin: 0 auto 0;
}

.act-pic {
    text-align: center;
}

.act-pic>h2 {
    margin: 100px 0 0;
    font-size: 36px;
}

.act-pic>h5 {
    margin: 0 0 100px;
} */

/* ------------------------------------ */
.activities {
    display: flex;
    height: 30%;
}

.activity-taipei {
    position: relative;
    width: calc(100%/3);
    height: 30%;
    overflow: hidden;
}

.img-container {
    position: relative;
    /* padding: 30%; */
    /* background-color: #633; */
    padding-bottom: 67.43886%;
}

.img-container>img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
}

.overlay-nfac {
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* height: calc(calc(100/3) * calc(10/11)); */
    /* overflow: hidden; */
    opacity: 0;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

/* @ 絕對選取 hover底下要跳出來的東東不一定要在前面的(taipei)底下    */
.activity-taipei:hover .overlay-nfac {
    opacity: 1;
    color: white;
    text-align: center;
    background-color: #ff5d7d;
    font-size: 1.28vw;
    bottom: 0;
    height: 100%;
    z-index: 100;
}

.activity-tokyo {
    position: relative;
    width: calc(100%/3);
    overflow: hidden;
}

.overlay-slush {
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* height: calc(calc(100/3) * calc(10/11)); */
    /* overflow: hidden; */
    opacity: 0;
    transition: .5s ease;
    background-color: #5857f9;
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

.activity-tokyo:hover .overlay-slush {
    opacity: 1;
    color: white;
    text-align: center;
    font-size: 1.28vw;
    bottom: 0;
    height: 100%;
}

.activity-china {
    position: relative;
    width: calc(100%/3);
    overflow: hidden;
}

.overlay-yan {
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    /* height: calc(calc(100/3) * calc(10/11)); */
    overflow: hidden;
    opacity: 0;
    transition: .5s ease;
    background-color: #59257d;
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

.activity-china:hover .overlay-yan {
    opacity: 1;
    color: white;
    bottom: 0;
    height: 100%;
    font-size: 1.28vw;
    text-align: center;
}


/* .activities {
    position: relative;
}

.activities:hover .slush {
    background-color: black;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.8;
    color: white;
} */


/* .activity-tokyo {
    position: relative;
} */


/* .activity-tokyo:hover .slush {
    background-color: black;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.8;
    color: white;
    --heightPic:var(calc(100%/3))
    height: 100%;
    transition: transform .2s;
    /* overflow: hidden; */


/* broder-s */


/*  */


/* }  */


/* 
.slush-img {
    position: relative;
}

.slush {
    display: none;
}

.slush-img:hover {
    background-color: black;
    position: absolute;
    width: calc(100%/3); */


/* top: 0;
    left: 0; */


/* opacity: 0.3; */


/* -webkit-transform: scale(0.8);。 */


/* } */


/* 
.slush {
    position: absolute;
    display: none;
} */


/* background-color: yellow; */


/* .te:hover .slush {
    background-color: black;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.8;
    color: white;
    height: 100%; */


/* overflow: hidden; */


/* broder-s */


/* -webkit-transform: scale(0.8); */


/* } */


/* .slush {
    position: absolute;
    display: none;
} */

#yanxing {
    width: 100%;
    /* background-color: yellow; */
}

#slush:hover {
    background-color: black;
}

#nfac:hover {
    background-color: black;
}


/* .activity-tokyo {
    position: absolute;
}

.activity-taipei {
    position: absolute;
}

.activitu-china {
    position: absolute;
} */