body {
    margin: 0;
    padding-top: 55px;
    font-family: 'regular'
}


/* 智能合約安全問題
密冠合約
DAO事件
POKATALK ETHEREUM
1. 用HIGHPERLEDGER的原因
寫過智能合約麻
履歷問題
作品集
網頁
智能合約 ERC20/721
car rental 實做哪些部分?
backend flask 實作
和區塊鏈架構
Quorum服務 使用架構

在Aegis custody做的事?
1. api testing
unitest
(穩定幣架構不知道要不要講???)

視差運動
JS固定使用者位置扣掉MARGIN

 */

.wrap {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    /* width 100% padding會爆掉往外加 */
    box-sizing: border-box;
    /* 沒有加margin，不會自動左右致中 */
    margin: auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: black 0 0 10px;
    font-family: 'Raleway';
}

.header .header-inner {
    height: 100%;
    /* 陰影顏色，x軸座標 y軸座標 陰影範圍 */
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* logo和ul分開排版，SPACE只留在中間，SAPCE AROUND左右中等分 */
    justify-content: space-between;
}

.header-inner>ul {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 去掉點點 */
    list-style-type: none;
    /* 預設單列排版 */
    display: flex;
}

.header-inner li {
    padding: 10px 30px;
    /* border: double; */
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* 左右致中 */
    justify-content: center;
}

.header-inner li p {
    padding: 0;
    margin: 0;
    /* 去掉文字底線 */
    display: inline-block;
    /* font-family: 'regular'; */
}

.title {
    max-width: 80%;
    display: block;
    margin: 17% auto;
}

.title>h3 {
    color: #5857f9;
    font-size: 26px;
}

.title>h4 {
    font-size: 36px;
}

.logo {
    width: 110px;
    height: 55px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    /* %跟着哪里？》？？？ */
    /* padding-top: 5%; */
    display: block;
    text-align: center;
}

.myimage-container {
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* logo和ul分開排版，SPACE只留在中間，SAPCE AROUND左右中等分 */
    justify-content: space-between;
}

.myimage {
    padding: 0;
    width: calc(100%/3);
    display: block;
    margin: 0 auto;
    /* max-width: 80%;
    max-height: 80%; */
}

.self-intro {
    display: block;
    /* 上下致中 */
    /* flex-grow: 1; */
    text-align: center;
}

.projects li h3 {
    /* default  */
    font-size: 24px;
    height: 1em;
}

.projects li h4 {
    /* default  */
    margin: 12px 0;
    font-size: 20px;
}

.projects li p {
    margin-top: 0;
}

.projects {
    overflow: hidden;
}

.projects>ul {
    /* 不能設width 100%因為已經超過100 */
    /* width: 100%; */
    margin: 0 -15px;
    /* default有padding */
    padding: 0;
    --column: 3;
    list-style-type: none;
    display: flex;
}

.projects li {
    margin: 0 15px;
    padding: 0 30px;
    width: calc((100% / var(--column)) - 30px);
    box-sizing: border-box;
    /* border-style: double; */
}

.projects li img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.internships {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.intern-company {
    height: 100vh;
}

.internships h3 {
    font-size: 50px;
}

.internships h4 {
    font-size: 20px;
}

.internships>ul {
    margin: 0;
    /* default有padding */
    padding: 0;
    /* max-width: 100%; */
    /* height: 100%; */
    list-style-type: none;
}

.internships li {
    /*  */
    margin: 30px 0;
    padding: 0;
    /* width: 100%; */
    /* border-style: double; */
    display: flex;
    /* align-items: center; */
    align-items: center;
    justify-items: center;
}

.internships li>div {
    margin: 0;
    padding: 0;
}

.internships li a {
    margin: 0;
    padding: 0;
}


/* .intern-pic-container {
    width: 50%;
} */

.internships li img {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* img預設是inline 會有3px的空隙 */
    display: block;
}


/* .internships li>.intern-intro {
    width: 50px;
    margin: 0;
    padding: 0;
} */

.world-map img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

.activities {
    /* max-width: 100%; */
    /* margin: 0 auto; */
    display: flex;
}


/* .activity-tokyo {
    max-width: 80%;   
} */

.activities div {
    width: calc(100%/3);
}

.activities img {
    margin: 0;
    padding: 0;
    width: 100%;
    /* max-height: 60vh; */
    /* height: 80px; */
    /* display: flex;
    margin: 0 auto; */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.contact>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.contact-social>* {
    display: block;
    margin: 0 auto;
}

.contact-social>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-social li img {
    margin: 0 10px;
    width: 30px;
}

.btn-start-order {
    background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}

.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
    border-color: #5e9bfc;
    color: #5e9bfc;
}


/* ------------------------------------------------------------ */

.footer {
    background-color: wheat;
}

.copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 200px;
}