body {
    margin: 0;
    font-size: 16px;
    /* padding-top: 55px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* 

#ffe23c
#baf1a1
#46b3e6
 */


/* 智能合約安全問題
密冠合約
DAO事件
POKATALK ETHEREUM
1. 用HIGHPERLEDGER的原因
寫過智能合約麻
履歷問題
作品集
網頁
智能合約 ERC20/721
car rental 實做哪些部分?
backend flask 實作
和區塊鏈架構
Quorum服務 使用架構

在Aegis custody做的事?
1. api testing
unitest
(穩定幣架構不知道要不要講???)

視差運動
JS固定使用者位置扣掉MARGIN

 */

a {
    color: black;
    font-family: 'Raleway';
}

a.anchor {
    display: block;
    position: relative;
    top: -50%;
    visibility: hidden;
}

a:visited {
    /* //設定已經瀏覽過的連結 */
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #3fc5f0;
}

.wrap {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    /* width 100% padding會爆掉往外加 */
    box-sizing: border-box;
    /* 沒有加margin，不會自動左右致中 */
    margin: auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.header .header-inner {
    height: 100%;
    /* 陰影顏色，x軸座標 y軸座標 陰影範圍 */
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* logo和ul分開排版，SPACE只留在中間，SAPCE AROUND左右中等分 */
    justify-content: space-between;
}

.header-inner>ul {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 去掉點點 */
    list-style-type: none;
    /* 預設單列排版 */
    display: flex;
}

.header-inner li {
    padding: 10px 30px;
    /* border: double; */
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* 左右致中 */
    justify-content: center;
}

.header-inner li p {
    padding: 0;
    margin: 0;
    /* 去掉文字底線 */
    display: inline-block;
    /* font-family: 'regular'; */
}

.show_header {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    box-shadow: black 0 0 10px;
}

.menu {
    display: none;
}

.ball {
    width: 20px;
    height: 20px;
    margin: 3px 0 0 0;
    border-radius: 100%;
    background-color: #baf1a1;
}

.title {
    /* max-width: 70%; */
    display: block;
    margin: 50vh 0;
    padding: 0 22vw;
    /* width: 80%; */
    /* text-align: center;s */
    /* visibility: hidden; */
    opacity: 0;
    transition: all 1s ease-in;
}


/* position > display > width height > padding margin >font size background */

.title>h3 {
    display: flex;
    align-items: center;
    color: #46b3e6;
    font-size: 1.25rem;
}

.title>h4 {
    font-size: 1.7rem;
}

.title-ball {
    /* margin: 3px 0 0 20px; */
}

.title.animate {
    transition: all 1s ease-in;
    /* transition-duration: 2s;
    background-color: #2098D1;
    color: white; */
    /* visibility: visible; */
    opacity: 1;
}

.logo {
    position: relative;
    width: 200px;
    height: 55px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-font {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    margin: 0 2px;
    color: #46b3e6;
    box-sizing: border-box;
    /* background-color: #381460; */
    text-align: center;
    /* margin: auto; */
    /* Referenced */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    /* transform: translateY(-50%); */
    /* 置中 */
    line-height: 28px;
}

.circle-font:hover,
.circle-font:focus,
.circle-font:active {
    /* Referenced */
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.y-circle {
    /* background-color: #a278b5; */
}

.j-circle {
    color: white;
    background-color: #46b3e6;
}

.l-circle {
    /* background-color: #b2dffb; */
}

.i-circle {
    /* background-color: #ff2e63; */
}

.about {
    /* %跟着哪里？》？？？ */
    /* padding-top: 5%; */
    display: block;
}

.self-intro {
    position: absolute;
    top: 50vh;
    left: 30vh;
    z-index: 1;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.myimages {
    /* padding: 10px; */
    /* width: calc(100%/3); */
    display: flex;
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8s ease-in-out;
    /* opacity: 0; */
    width: 90%;
}

.myimg-container {
    margin: 30vh 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myimages>* {
    width: calc(100%/3);
}

.circle-n-image>* {
    margin: 0 auto;
}

.circle-n-image>.ball {
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 22vw;
    background-position: center;
    font-size: 0;
    font-family: 'Handlee';
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8 ease-in-out;
    /* transform: translate(0, -50px); */
}

.circle-n-image>.ball:hover {
    background-image: none;
    font-size: initial;
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8 ease-in-out;
    /* transform: translate(0, 0); */
}

.img-circle {
    width: 20vw;
    height: 20vw;
}

.img-circle-1>.ball {
    background-image: url(resized_image/sky.png);
}

.img-circle-2>.ball {
    background-image: url(resized_image/self.png);
}

.img-circle-3>.ball {
    background-image: url(resized_image/gis.png);
}

.img-circle-1>.ball:hover {
    background-color: #46b3e6;
}

.img-circle-2>.ball:hover {
    background-color: #baf1a1;
}

.img-circle-3>.ball:hover {
    background-color: #ffe23c;
}


/* .network-container {
    width: 100%;
    height: 100vh;
    background-image: url(resized_image/network.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
} */


/* .network {
    width: 100%;
    display: block;
    margin: 0 auto;
    
} */


/* 
.self-intro {
    width: 100%;
    z-index: 100;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
}

.self-intro.animate {
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8s ease-in-out;
    opacity: 1;
} */


/* .myimage-container.animate .myimage-1 {
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8s ease-in-out;
    opacity: 1;
}

.myimage-container.animate .myimage-2 {
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8s ease-in-out;
    opacity: 1;
    transition-delay: 600ms;
    -webkit-animation-delay: 600ms;
}

.myimage-container.animate .myimage-3 {
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8s ease-in-out;
    opacity: 1;
    transition-delay: 300ms;
    -webkit-animation-delay: 300ms;
} */


/* project */

.projects h3 {
    height: 1.5rem;
    text-transform: uppercase;
    display: flex;
    position: relative;
    font-size: 3.125rem;
    margin: 50px 0;
}

.projects h4 {
    /* default  */
    font-size: 1.25rem;
    /* text-transform: uppercase; */
}

.projects {
    max-width: 45%;
    display: block;
    margin: 0 auto;
    height: 300vh;
}


/* .projects.animate {
    transition: all 1s ease-in;
    opacity: 1;
} */

.projects h3>.ball {
    /* 推點點出去 */
    position: absolute;
    left: -90px;
    right: 0;
    top: .18em;
    width: 1em;
    height: 1em;
}


/* 動畫 */


/* 先從display射程none之後發現不能用動畫    display: none; */


/* 之後改成visibility 發現還是占空間 */


/* 最後改成設height，發現波不了動畫 */


/* 最後改成max-height成功 */

.project-content {
    -webkit-transition: max-height 0.5 ease-in-out;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
    transition-delay: 2s;
}


/* .project-intro.animate {
    overflow: auto;
} */

.project-content>* {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .3s ease-out;
}

.project-content-1 {
    transition-delay: 700ms;
}

.project-content-2 {
    transition-delay: 600ms;
}

.project-content-3 {
    transition-delay: 500ms;
}

.project-content-4 {
    transition-delay: 400ms;
}

.project-content-5 {
    transition-delay: 300ms;
}

.project-content-6 {
    transition-delay: 200ms;
}

.project-intro.animate .project-content>* {
    opacity: 1;
    transform: translate(0, 0);
}

.project-intro.animate .project-content .project-content-1 {
    transition-delay: 200ms;
}

.project-intro.animate .project-content .project-content-2 {
    transition-delay: 300ms;
}

.project-intro.animate .project-content .project-content-3 {
    transition-delay: 400ms;
}

.project-intro.animate .project-content .project-content-4 {
    transition-delay: 500ms;
}

.project-intro.animate .project-content .project-content-5 {
    transition-delay: 600ms;
}

.project-intro.animate .project-content .project-content-6 {
    transition-delay: 700ms;
}

.project-inner {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
}

.project-intro.animate {
    -webkit-transition: all 0.5 ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100vh;
}

.project-intro.animate .project-content {
    max-height: 100%;
    overflow: auto;
    position: sticky;
    -webkit-transition: max-height 0.5 ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.project-intro.animate .project-title {
    /* opacity: 0.6; 這樣會整個都變透明 */
    color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2 linear;
    transition: all 0.2 linear;
}

.project-intro h4 {
    margin: 1em;
}


/* Internships */

.internships {
    display: flex;
    /* background-color: #f3f3f3; */
    width: 70%;
    margin: 0 auto;
}

.intern-pics {
    display: block;
    width: 100%;
}

.intern-pics img {
    display: block;
    width: 100%;
    height: 100%;
}

.intern-infos {
    position: relative;
    width: 100%;
}

.intern-sticky {
    position: sticky;
    top: 40%;
    margin: 0 3rem;
    background-color: #f3f3f3;
}

.intern-info {
    position: absolute;
}

.intern-info h3 {
    font-size: 2em;
    margin: 0;
}

.intern-info h4 {
    font-size: 1em;
}

.intern-ind {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.intern-sticky>* {
    transform: translate(-50px, 0);
    transition: all .3s ease-out;
    opacity: 0;
}

.intern-sticky.animate-1 .intern-info-1 {
    transform: translate(0, 0);
    opacity: 1;
}

.intern-sticky.animate-2 .intern-info-2 {
    transform: translate(0, 0);
    opacity: 1;
}

.intern-sticky.animate-3 .intern-info-3 {
    transform: translate(0, 0);
    opacity: 1;
}

.intern-sticky.animate-4 .intern-info-4 {
    transform: translate(0, 0);
    opacity: 1;
}


/* Activity */

.swiper-container {
    width: 80%;
    height: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 80%;
    margin-bottom: 5vh;
}


/* Contact */

.contact {
    display: flex;
    opacity: 0;
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8s ease-in-out;
}

.contact.animate {
    opacity: 1;
    -webkit-transition: all 0.8 ease-in-out;
    transition: all 0.8s ease-in-out;
}

.contact>div {}

.s-media {
    display: flex;
    /* width: calc(30%/4); */
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.s-media img {
    margin: 0 10px;
    width: 30px;
}

.contact-info {
    /* padding: 0 100px; */
    /* max-width: 60%; */
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* text-align: center;   */
}

.contact-info>h3 {
    margin: 50px 0 0;
    color: #46b3e6;
    font-size: 1.625em;
}

.contact-info>h4 {
    margin: 0 0 30px;
    font-size: 2.25em;
}


/*  */

.form-container {
    display: block;
    margin: 30vh 0 0;
}

.form {
    width: 70%;
    /* top: 50%; */
    font-family: 'Raleway';
    background: linear-gradient(30deg, #053349 -50%, #085981 80%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #fff;
}

.ball-container {
    display: flex;
}

input {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-input-placeholder font-family: 'Raleway';
    color: #fff;
    background: #064360;
    border-radius: 0.15vw;
    border: 1px solid #064360;
    -webkit-appearance: none;
    font-size: 1vw;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vw;
    padding: 1.25vw;
    margin-bottom: 2vw;
    border-color: rgb(6, 67, 96);
    background-color: rgb(6, 67, 96);
}

textarea {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Raleway';
    color: white;
    background: #064360;
    border-radius: 0.15vw;
    border: 1px solid #064360;
    -webkit-appearance: none;
    font-size: 1vw;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vw;
    padding: 1.25vw;
    margin-bottom: 2vw;
    border-color: rgb(6, 67, 96);
    background-color: rgb(6, 67, 96);
}

.form>h4 {
    margin: 35px 0 10px;
    font-size: 1.2rem;
}

.form>*:hover,
.form>*:focus,
.form>*:active {
    box-shadow: none;
    /* border-style: none none solid none; */
    outline: none;
    border-color: #46b3e6;
}

textarea:focus,
textarea:active,
input:focus,
input:active {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background-color: rgb(8, 89, 129);
}

button {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(6, 67, 96);
    font-family: "Raleway";
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
}

.btn:hover,
.btn:active,
.btn:focus {
    border-color: rgb(112, 199, 243);
    color: rgb(112, 199, 243);
}


/* RWD */

.unfold_menu {
    display: none;
}


/* ------------------------------------------------------------ */


/* 球動畫 */

.dotted-circle {
    position: absolute;
    border-radius: 50%;
    border-style: dashed;
    width: 1.2em;
    height: 1.2em;
    left: -71px;
    right: 0;
    bottom: .15px;
}

.balls>.ball {
    position: absolute;
    top: 0;
}

.ball {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dotted-ball {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dotted-ball:before {
    position: absolute;
    content: '';
    height: calc(100% + 30px);
    width: calc(100% + 30px);
    top: -15px;
    left: -15px;
    /* border: 5px dotted;
    border-radius: inherit; */
    animation: spin 5s linear infinite;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='1.2' stroke-dasharray='0.2%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

.ball-1 {
    background-color: #46b3e6;
    transition: max-height 0.5 ease-out;
}

.ball-2 {
    background-color: #baf1a1;
}

.ball-3 {
    background-color: #ffe23c;
}

.footer {
    /* background-color: #b2dffb; */
}

.copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 200px;
}


/* Media query */

@media only screen and (max-width: 980px) {
    html {
        font-size: 10px;
    }
    .network-container {}
    .header ul {
        display: none;
    }
    .menu {
        display: block;
        margin: 0 10px 0;
    }
    .menu-close {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 5vw;
        transition: all 1s ease-in;
    }
    .menu-close.on {
        display: block;
        transition: all 1s ease-in;
    }
    .unfold_menu {
        /* left: -20em; */
        /* opacity: 0; */
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        background-color: white;
        z-index: 100;
    }
    /* .menu.active .unfold_menu {
        opacity: 1;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        background-color: white;
        z-index: 1000;
    } */
    .unfold_menu>ul {
        height: 100%;
        margin: 0;
        padding: 0;
        /* 去掉點點 */
    }
    .unfold_menu li {
        padding: 10px 30px;
        margin: 50px;
        /* border: double; */
        display: flex;
        flex-direction: column;
        /* 左右致中 */
        justify-content: center;
    }
    .unfold_menu li p {
        padding: 0;
        margin: 0;
        /* 去掉文字底線 */
        display: inline-block;
        /* font-family: 'regular'; */
    }
    .myimages {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circle-n-image>.ball {
        width: 30vw;
        height: 30vw;
        background-size: 33vw;
    }
    .circle-n-image>.ball:hover {
        font-size: 3vw;
    }
    .circle-n-image {
        display: block;
        margin: 13vh auto;
    }
    .myimg-container {
        margin: 20vh 0;
    }
    .title {}
}