body {
    margin: 0;
    /* padding-top: 55px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* 

#ffe23c
#baf1a1
#46b3e6
 */

/* 智能合約安全問題
密冠合約
DAO事件
POKATALK ETHEREUM
1. 用HIGHPERLEDGER的原因
寫過智能合約麻
履歷問題
作品集
網頁
智能合約 ERC20/721
car rental 實做哪些部分?
backend flask 實作
和區塊鏈架構
Quorum服務 使用架構

在Aegis custody做的事?
1. api testing
unitest
(穩定幣架構不知道要不要講???)

視差運動
JS固定使用者位置扣掉MARGIN

 */

a {
    font-family: 'Raleway';
}

a:visited {
    /* //設定已經瀏覽過的連結 */
    color: black;
}

a:active {
    text-decoration: none;
    background-color: #46b3e6;
    color: #46b3e6;
}

a:hover {
    text-decoration: underline;
    background-color: #fafafa;
    color: #3fc5f0;
}

.wrap {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    /* width 100% padding會爆掉往外加 */
    box-sizing: border-box;
    /* 沒有加margin，不會自動左右致中 */
    margin: auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 55px; */
    background-color: rgba(255,255,255,0.8);
    /* box-shadow: black 0 0 10px; */
    z-index: 100;
    /* font-family: 'Raleway'; */
}

.header .header-inner {
    height: 100%;
    /* 陰影顏色，x軸座標 y軸座標 陰影範圍 */
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* logo和ul分開排版，SPACE只留在中間，SAPCE AROUND左右中等分 */
    justify-content: space-between;
}

.header-inner>ul {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 去掉點點 */
    list-style-type: none;
    /* 預設單列排版 */
    display: flex;
}

.header-inner li {
    padding: 10px 30px;
    /* border: double; */
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* 左右致中 */
    justify-content: center;
}

.header-inner li p {
    padding: 0;
    margin: 0;
    /* 去掉文字底線 */
    display: inline-block;
    /* font-family: 'regular'; */
}

.ball {
    width: 20px;
    height: 20px;
    margin: 3px 0 0 0;
    border-radius: 100%;
    background-color: #baf1a1;
}

.title {
    /* max-width: 70%; */
    display: block;
    margin: 400px 0;
    padding: 0 300px;
    /* text-align: center;s */
}


/* position > display > width height > padding margin >font size background */

.title>h3 {
    display: flex;
    align-items: center;
    color: #46b3e6;
    font-size: 26px;
}

.title>h4 {
    font-size: 36px;
}

.title-ball {
    margin: 3px 0 0 20px;
}

.logo {
    position: relative;
    width: 200px;
    height: 55px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .y-circle {
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    max-height:0;
    overflow: hidden;
    opacity: 0;
    transition: .5s ease;
}

.logo:hover .y-circle {
    opacity: 1;
    color: white;
    bottom: 0;
    height: 28px;
    -webkit-transition:max-height .7s ease-in-out;
} */

.circle-font {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    margin: 0 2px;
    color: #46b3e6;
    box-sizing: border-box;
    /* background-color: #381460; */
    text-align: center;
    /* margin: auto; */
    /* Referenced */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    /* transform: translateY(-50%); */
    /* 置中 */
    line-height: 28px;
}

.circle-font:hover,
.circle-font:focus,
.circle-font:active {
    /* Referenced */
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.y-circle {
    /* background-color: #a278b5; */
}

.j-circle {
    color: white;
    background-color: #46b3e6;
}

.l-circle {
    /* background-color: #b2dffb; */
}

.i-circle {
    /* background-color: #ff2e63; */
}

.about {
    /* %跟着哪里？》？？？ */
    /* padding-top: 5%; */
    display: block;
    text-align: center;
}


.network-container {
    width: 100%;
    height: 100vh;
    background-image: url(images/network.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

}

/* .network {
    width: 100%;
    display: block;
    margin: 0 auto;
    
} */

.self-intro {
    width: 100%;
    /* background-color: white; */
    z-index: 100;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 100%);
}

.self-intro > h1 {
    color: #46b3e6;
}

.myimage-container {
    display: flex;
    /* 上下致中 */
    align-items: center;
    /* logo和ul分開排版，SPACE只留在中間，SAPCE AROUND左右中等分 */
    justify-content: space-between;
}

.myimage {
    padding: 0;
    width: calc(100%/3);
    display: block;
    margin: 0 auto;
    /* max-width: 80%;
    max-height: 80%; */
}

.self-intro {
    display: block;
    /* 上下致中 */
    /* flex-grow: 1; */
    text-align: center;
}

.projects li h3 {
    /* default  */
    font-size: 24px;
    height: 1em;
}

.projects li h4 {
    /* default  */
    margin: 12px 0;
    font-size: 20px;
}

.projects li p {
    margin-top: 0;
}

.projects {
    /* position: relative; */
    overflow: hidden;
}

.projects>ul {
    /* 不能設width 100%因為已經超過100 */
    /* width: 100%; */
    margin: 0 -15px;
    /* default有padding */
    padding: 0;
    --column: 3;
    list-style-type: none;
    display: flex;
    background-color: white;
}

.projects li {
    position: relative;
    margin: 0 15px;
    padding: 0 30px;
    width: calc((100% / var(--column)) - 30px);
    box-sizing: border-box;
    /* border-style: double; */
    /* background-color: ; */
}


/* .slide:before {
    background: rgba(255, 93, 125, 0.11);
} */


/* 
.slide {}

.projects:hover {
    transition:max-height .7s ease-in-out;
    -webkit-transition:max-height .7s ease-in-out;
    border-radius: 50%;
    z-index: -1;
} */

.slider {
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    /* max-height:0; */
    /* height: calc(calc(100/3) * calc(10/11)); */
    overflow: hidden;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff5d7d;
}


/* .activity-taipei:hover .overlay-nfac {
    opacity: 1;
    color: white;
    text-align: center;
    bottom: 0;
    height: 100%;
} */


/* .slider {
    position: absolute;
    left: 0;
    right: 0;
} */

.projects .ball {
    position: absolute;
    /* 另外一種置中方法 */
    left: 0;
    right: 0;
    margin: auto;
    top: 170px;
    /* 隱藏到圖片底下 */
    z-index: -1;
}



.projects li img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

/* 動畫 */

.projects.animate .project-1 {
    background-color: rgba(71, 214, 230, 0.51);
    transition: all .8s ease-out;
    /* visibility: visible; */
}

.projects.animate .project-2 {
    background-color: #baf1a1;
    transition: all .8s ease-out;
    /* visibility: visible; */
}
.projects.animate .project-3 {
    background-color: #ffe23c;
    transition: all .8s ease-out;
    /* visibility: visible; */
}


/* ------ */

.internships {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.intern-company {
    height: 100vh;
}

.internships {
    height: 300vh;
}

.internships h3 {
    display: flex;
    position: relative;
    font-size: 50px;
    margin: 0;
}

.internships h3>.ball {
    /* 推點點出去 */
    position: absolute;
    left: -64px;
    right: 0;
    top: .15em;
    width: 1em;
    height: 1em;
}

.internships h4 {
    font-size: 20px;
}

.internships>ul {
    margin: 0;
    /* default有padding */
    padding: 0;
    /* max-width: 100%; */
    /* height: 100%; */
    list-style-type: none;
}

.internships li {
    /*  */
    margin: 30px 0;
    padding: 0;
    /* width: 100%; */
    /* border-style: double; */
    display: flex;
    /* align-items: center; */
    align-items: center;
    justify-items: center;
}

.internships li>div {
    margin: 0;
    padding: 0;
}

.internships li a {
    margin: 0;
    padding: 0;

}

.intern-company h3 {
    margin: 30px 0;
}



/* 動畫 */
/* 先從display射程none之後發現不能用動畫    display: none; */
/* 之後改成visibility 發現還是占空間 */
/* 最後改成設height，發現波不了動畫 */
/* 最後改成max-height成功 */

/* .intern-intro {
    height: 100vh;
} */

.intern-content {

    -webkit-transition: max-height 0.5 ease-in-out;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.intern-content-1 {


    max-height:0;
    overflow: hidden;    
    transition: max-height 0.5s ease-in-out;
    -webkit-transition:max-height 0.5 ease-in-out;
    transition-delay: 300ms;
}

.intern-content-2 {


    max-height:0;
    overflow: hidden;
    transition:max-height 0.5s ease-in-out;
    -webkit-transition:max-height 0.5 ease-in-out;
    transition-delay: 250ms;

}
.intern-content-3 {


    max-height:0;
    overflow: hidden;
    transition:max-height 0.5s ease-in-out;
    -webkit-transition:max-height 0.5 ease-in-out;

    transition-delay: 200ms;
}

.intern-content-4 {
    max-height:0;

    transition:max-height 0.5s ease-in-out;
    -webkit-transition:max-height 0.5 ease-in-out;

    transition-delay: 150ms;

    overflow: hidden;


}
.intern-content-5 {

    max-height:0;
    overflow: hidden;
    transition:max-height 0.5s ease-in-out;
    -webkit-transition:max-height 0.5 ease-in-out;

    transition-delay: 100ms;

}
.intern-content-6 {

    max-height:0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    -webkit-transition:max-height 0.5 ease-in-out;
}
.intern-inner {
    position: -webkit-sticky;
    position: sticky;
    top: 16%;  
}

.intern-intro.animate {
    height: 100vh;
}


.intern-intro.animate .intern-content { 
    max-height:100%;
    overflow: auto;
    position: sticky;
    -webkit-transition:max-height 0.5 ease-in-out;
    transition:max-height 0.5s ease-in-out;
}


.intern-intro.animate .intern-content-1 {
    max-height:100%;
    overflow: auto;    
    -webkit-transition:max-height 0.5 ease-in-out;
    transition:max-height 0.5s ease-in-out;
}

.intern-intro.animate .intern-content-2 {

    max-height:100%;
    overflow: auto;

    -webkit-transition:max-height 0.5 ease-in-out;
    transition:max-height 0.5s ease-in-out;

    transition-delay: 100ms;

}
.intern-intro.animate .intern-content-3 {

    max-height:100%;
    overflow: auto;

    -webkit-transition:max-height 0.5 ease-in-out;
    transition:max-height 0.5s ease-in-out;

    transition-delay: 150ms;

    
}
.intern-intro.animate .intern-content-4 {

    max-height:100%;
    overflow: auto;
    -webkit-transition:max-height 0.5 ease-in-out;
    transition:max-height 0.5s ease-in-out;
    transition-delay: 200ms;

}
.intern-intro.animate .intern-content-5 {

    max-height:100%;
    overflow: auto;
    -webkit-transition:max-height 0.5 ease-in-out;
    transition:max-height 0.5s ease-in-out;

    transition-delay: 250ms;

}
.intern-intro.animate .intern-content-6 {

    overflow: auto;
    max-height:100%;
    -webkit-transition: max-height 0.5 ease-in-out;
    transition: max-height 0.5s ease-in-out;

    transition-delay: 300ms;

}
.internships li img {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* img預設是inline 會有3px的空隙 */
    display: block;
}


.act-title {
    /* max-width: 70%; */
    display: block;
    margin:200px 0;
    /* display: flex; */
    /* 還是可以置中 */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

.act-title>h2 {
    margin: 100px 0 0;
    font-size: 36px;
}

.act-title>h3 {
    color: #46b3e6;
    font-size: 26px;
}

.act-title>h4 {
    margin: 0;
    font-size: 36px;
}

.act-title>h5 {
    margin: 0 0 100px;
    font-size: 20px;
}

.act-title img {
    max-width: 100%;
    display: block;
    margin: 50px auto 0;
}


.activities {
    display: block;
    width: 80%;
    /* height: 30%; */
    margin: 0 auto;
}

.activity{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.activity > div {
    width: 40%;
}


.img-container {
    /* width: 50%; */
    /* position: relative; */
    /* padding: 30%; */
    /* background-color: #633; */
    /* padding-bottom: 67.43886%; */
    height: 100%;
}

.img-container>img {
    width: 100%;
}

.overlay {
    box-sizing: border-box;

    padding: 0 20px;
}


.contact {
    display: flex;
    
}

.contact>div {
    width: 50%;
}

.s-media {
    display: flex;
    /* width: calc(30%/4); */
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.s-media img {
    margin: 0 10px;
    width: 30px;    
}

.contact-info {
    /* padding: 0 100px; */
    /* max-width: 60%; */
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    /* text-align: center;   */
}

.contact-info>h3 {
    margin: 50px 0 0;
    color: #46b3e6;
    font-size: 26px;
}

.contact-info>h4 {
    margin: 0 0 30px;
    font-size: 36px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: center;
    justify-content: center; */
}

.form>h4 {
    margin: 35px 0 10px;
    font-size: 26px;
}

.form-control {
    border-radius: 0;
    border-color: #ccc;
    border-radius: 4px;
    border-width: 0 0 2px 0;
    /* border-width: 2px; */

    border-style: none none solid none;
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-control:focus {
    box-shadow: none;
    /* border-style: none none solid none; */
    outline: none;
    border-color: #46b3e6;
}


/* 
.form-control {
    border-style: none;
} */

.btn-start-order {
    background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway";
    font-size: 16px;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
}

.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
    border-color: #5e9bfc;
    color: #5e9bfc;
}


/* ------------------------------------------------------------ */
/* 球動畫 */
.dotted-circle {
    position: absolute;
    border-radius: 50%;
    border-style: dashed;
    width: 1.2em;
    height: 1.2em;
    left: -71px;
    right: 0;
    bottom: .15px;
}


.balls>.ball {
    position: absolute;
    top: 0;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.ball-1 {
    background-color: #46b3e6;
    transition:max-height 0.5 ease-out;
}

.float-ball-2 {}

.ball-2 {
    background-color: #baf1a1;
}


.ball-3 {
    background-color: #ffe23c;
}

.footer {
    /* background-color: #b2dffb; */
}

.copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 200px;
}