:root {
    --cell-size: 40px;
}

body {
    background: linear-gradient(rgb(131, 23, 71), rgb(40, 0, 0));
    /* background-color: black; */
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Space Mono, Arial, Helvetica, sans-serif;


}

.header{
    color: #fff;
    letter-spacing: .8em;
    text-align: center;
    width: 100%;
    display: flex;
}

.header > * {
    font-size: 1.2em;
}

.remain-block{
    flex: 1;
    order: 1;
}

.counter {
    flex: 1;
    order: 3;
}

.title {
    flex: 1;
    order: 2;
    
}

.line {
    height: 1.5px;
    width: 90%;
    margin: 0 auto;
    background: #fff;
}

.tb-content {
    margin-top: 100px;
    height: 60vh;
}

table {
    margin: 0 auto;
}

tr {
    display: block;
    margin: 5px;
}

.btn {
    position: relative;
    margin: 0 5px;
    border: 2px solid #fff;
    /* border-color: white; */
    background-color: transparent;

	
    padding: 0;
    color: inherit;
    font: inherit;
	outline: inherit;       
    width: var(--cell-size);
    height: var(--cell-size);
}

.white-box {
    position: absolute;
    top: -2px;
    left: -2px;
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-name: flash;
    animation-iteration-count: 1;
    background-color: #fff;
    width: var(--cell-size);
    height: var(--cell-size);


    /* z-index: 10; */
}

.right-click-box {

}


.btn[data-disabled="true"] {

}
.btn::before {
    /* content: attr(data); */
}

.btn[data-disabled="false"] {
    
    border-radius: 50%;
}

/* content藥用pseduo element */
.btn[data-disabled="false"]::before {
    position: relative;
    content: attr(data-array);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}


.btn[data-array="0"] {
    border-radius: 0%;
    opacity: 0.5;
}

.btn[data-array="0"]::before {
    content: none;
}

.btn[data-array="-1"] {
    background-image: url(images/explosion.svg);
    /* margin: 0; */
    border-color: none;
    border: 2px solid transparent;
    background-size: var(--cell-size);
}
.btn[data-array="-1"]::before {
    content: none;
}


@keyframes flash {
    10%   {opacity: 1;}
    100%   {opacity: 0;}
}


/* 失敗 */
.reset {
    width: 600px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
}

.reload,
.menu {
    display: none;
    width: 50%;
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
    padding: 20px 40px;
    margin: 0 20px 50px;
    letter-spacing: 5px;
    outline: none;
    box-shadow: none;
    border: 3px solid #fff;
}

.menu{
    background-color: #000;
    color: #fff;


}

/* 獲勝 */
.winbar {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* display: flex; */
    flex-direction: column;
    text-align: center;

}

.line-s {
    height: 1.5px;
    width: 50%;
    margin: 0 auto;
    background: #fff;
}


.line-end {
    position: absolute;
    bottom: 60px;
    left: 5%;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #fff;
}




