:root {
    --cell-size: 40px;
}

body {
    background: linear-gradient(rgb(131, 23, 71), rgb(40, 0, 0));
    /* background-color: black; */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Space Mono, Arial, Helvetica, sans-serif;


}

table {
    margin: 0 auto;
}

tr {
    display: block;
    margin: 5px;
}

.btn {
    position: relative;
    margin: 0 5px;
    border: 2px solid #fff;
    /* border-color: white; */
    background-color: transparent;

	
    padding: 0;
    color: inherit;
    font: inherit;
	outline: inherit;       
    width: var(--cell-size);
    height: var(--cell-size);
}

.white-box {
    position: absolute;
    top: -2px;
    left: -2px;
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-name: flash;
    animation-iteration-count: 1;
    background-color: #fff;
    width: var(--cell-size);
    height: var(--cell-size);


    /* z-index: 10; */
}

.right-click-box {

}


.btn[data-disabled="true"] {

}
.btn::before {
    /* content: attr(data); */
}

.btn[data-disabled="false"] {
    position: relative;
    border-radius: 50%;
}

/* content藥用pseduo element */
.btn[data-disabled="false"]::before {
    position: relative;
    content: attr(data-array);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}


.btn[data-array="0"] {
    border-radius: 0%;
    opacity: 0.5;
}

.btn[data-array="0"]::before {
    content: none;
}

.btn[data-array="-1"] {
    background-image: url(images/explosion.svg);
    /* margin: 0; */
    border: 2px solid transparent;
    background-size: var(--cell-size);
}
.btn[data-array="-1"]::before {
    content: none;
}



/* 失敗 */




@keyframes flash {
    10%   {opacity: 1;}
    100%   {opacity: 0;}
}


